services:
  telegram-bot:
    build: .
    container_name: telebot_container
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./cookies.txt:/app/cookies.txt
